<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>
        <div class="container">
            <%- include('partials/header') %>

                <%- include('partials/logs') %>

                    <%- include('partials/settings') %>

                        <%- include('partials/autotune') %>

                            <%- include('partials/stats') %>

                                <%- include('partials/miners') %>

                                    <%- include('partials/donation') %>
        </div>

        <%- include('partials/modals') %>
            <%- include('partials/miner_details_modal') %>

                <%- include('partials/scripts') %>
    </body>

</html>